// Niri configuration for CachyOS
// For documentation and full reference, see: https://github.com/YaLTeR/niri/wiki
// ────────────── Global Settings ──────────────
prefer-no-csd
// Disable program decorations
screenshot-path null
// Disable screenshot saving
// ────────────── Include Modules ──────────────
include "startup.kdl"
include "device.kdl"
include "appearance.kdl"
include "rules.kdl"
include "binds.kdl"

