// Niri configuration for CachyOS
// For documentation and full reference, see: https://github.com/YaLTeR/niri/wiki


// ────────────── Environment Variables ──────────────
environment {
	// DISPLAY ":1"
	XMODIFIERS "@im=fcitx"
	QT_IM_MODULE "fcitx"
	ELECTRON_OZONE_PLATFORM_HINT "auto"
	GTK_IM_MODULE "fcitx"
	// QT_QPA_PLATFORM "wayland"
	// QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
	// XDG_SESSION_TYPE "wayland"
	// XDG_CURRENT_DESKTOP "niri"
	GSK_RENDERER "gl"
}


// ────────────── Startup Applications ──────────────
    // spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit

    // swww has been renamed as awww
    // Old settings for the Overview backgroundImg
    // spawn-sh-at-startup "swww-daemon -n overview"
    // spawn-sh-at-startup "swww img /home/onez3r0/Pictures/Wallpapers/wallhaven-9ozmyd-overview.jpg -n overview"
	/- layer-rule {
	    match namespace="swww-daemonoverview"
	    place-within-backdrop true
	}

    layer-rule {
        match namespace="^noctalia-overview*"
        place-within-backdrop true
    }

    spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
    spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"

    prefer-no-csd // Disable program decorations
    screenshot-path null // Disable screenshot saving

    spawn-at-startup "env" "QT_IM_MODULE=" "XMODIFIERS=" "qs" "-c" "noctalia-shell"
    // spawn-at-startup "qs" "-c" "noctalia-shell"
    spawn-at-startup "dbus-update-activation-environment" "--all"
    /* noctalia-shell since 4.6.0 no longer support systemd backend, and also has a idle function integrated in. */

    // spawn-at-startup "swayidle" "-w" "timeout" "600" "qs -c noctalia-shell ipc call sessionMenu lockAndSuspend"

	hotkey-overlay {
		skip-at-startup
	}

	gestures {
	    hot-corners {
		    off 
        }
	}


// ────────────── Input Configuration ──────────────
input {
    keyboard {
        xkb {
            layout "us"
        }
    }
    touchpad {
        // off
	tap
	scroll-method "two-finger"
	natural-scroll
	dwt
    }
    mouse {
        scroll-factor 2
    }
    focus-follows-mouse
    workspace-auto-back-and-forth
}


// ────────────── Output Configuration ──────────────
output "eDP-2" {
    mode "2560x1600@240.000"
    scale 1.5
}

output "HDMI-A-1" {
    position x=1707 y=0
}


// ────────────── Keybindings ──────────────
binds {
    MOD+SHIFT+ESCAPE { show-hotkey-overlay; }

    // ——— My System keyBindings ———
    MOD+M { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    MOD+I{ spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }
    MOD+V { spawn-sh "qs -c noctalia-shell ipc call launcher clipboard"; }
    ALT+F4 { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }

    // my plugins bind
    MOD+SHIFT+C { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "plugin:show-keys" "toggle"; }

    // CTRL+ALT+A { spawn-sh "grim -g \"$(slurp)\" - | env GTK_CSD=1 satty -f - --copy-command 'wl-copy --type image/png'"; }
    // CTRL+ALT+A { spawn-sh "QT_SCALE_FACTOR=0.66667 flameshot gui"; }
    CTRL+ALT+A { spawn-sh "qs -c noctalia-shell ipc call plugin:screen-toolkit annotate"; }
    // CTRL+ALT+A { spawn-sh "grim -g \"$(slurp)\" - | swappy -f -"; }
    CTRL+ALT+SHIFT+A { spawn "sh" "-c" "delay=$(echo -e '1\n2\n3\n5\n10' | wofi --dmenu --prompt 'Delay seconds'); [ -n \"$delay\" ] && sleep \"$delay\" && grim -g \"$(slurp)\" - | swappy -f -"; }
    CTRL+ALT+D { spawn-sh "grim -g \"$(slurp)\" - | tesseract - stdout -l chi_sim+eng 2>/dev/null | wl-copy"; }

    CTRL+ALT+P { spawn-sh "qs -c noctalia-shell ipc call plugin:screen-toolkit pin"; }

    // ─── My Apps ───
    MOD+RETURN hotkey-overlay-title="alacritty" { spawn-sh "kitty"; }
    MOD+SPACE hotkey-overlay-title="wofi" { spawn-sh "wofi"; }
    MOD+B hotkey-overlay-title="Open Browser" { spawn-sh "zen-browser"; }
    MOD+E hotkey-overlay-title="Nautilus" { spawn-sh "nautilus"; }
    MOD+P hotkey-overlay-title="Apostrophe" { spawn-sh "apostrophe"; }
    // MOD+C hotkey-overlay-title="Code" { spawn-sh "code --disable-gpu"; }

    // ─── Audio Controls ───
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPause allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "brightnessctl set 5%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "brightnessctl set 5%-"; }
    XF86Sleep allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call sessionMenu lockAndSuspend"; }

    // ─── Window Movement and Focus ───
    MOD+Q allow-inhibiting=false { close-window; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    MOD+H { focus-column-left; }
    MOD+L { focus-column-right; }
    MOD+J { focus-window-down; }
    MOD+K { focus-window-up; }

    Mod+A { consume-or-expel-window-left; }
    // Mod+D { expel-window-from-column; }
    Mod+D { consume-or-expel-window-right; }

    MOD+LEFT { move-column-left; }
    MOD+RIGHT { move-column-right; }
    MOD+UP { move-window-up; }
    MOD+DOWN { move-window-down; }

    // ─── Workspace Switching ───
    MOD+SHIFT+J	{ focus-workspace-down; }
    MOD+WHEELSCROLLDOWN cooldown-ms=150 { focus-workspace-down; }
    MOD+SHIFT+K	{ focus-workspace-up; }
    MOD+WHEELSCROLLUP cooldown-ms=150 { focus-workspace-up; }
    // MOD+CTRL+WHEELSCROLLDOWN cooldown-ms=150 { move-column-to-workspace-down; }
    MOD+SHIFT+DOWN { move-column-to-workspace-down; }
    // MOD+CTRL+WHEELSCROLLUP cooldown-ms=150 { move-column-to-workspace-up; }
    MOD+SHIFT+UP { move-column-to-workspace-up; }

    MOD+1 { focus-workspace 1; }
    MOD+2 { focus-workspace 2; }
    MOD+3 { focus-workspace 3; }
    MOD+4 { focus-workspace 4; }
    MOD+CTRL+1 { move-column-to-workspace 1; }
    MOD+CTRL+2 { move-column-to-workspace 2; }
    MOD+CTRL+3 { move-column-to-workspace 3; }
    MOD+CTRL+4 { move-column-to-workspace 4; }

    MOD+TAB { focus-workspace-previous; }

    // ─── Layout Controls ───
    MOD+C { center-column; }
    MOD+MINUS { set-column-width "-10%"; }
    MOD+EQUAL { set-column-width "+10%"; }
    MOD+SHIFT+MINUS { set-window-height "-10%"; }
    MOD+SHIFT+EQUAL { set-window-height "+10%"; }
    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+SHIFT+F { fullscreen-window; }

    // ─── Modes ───
    MOD+O { toggle-overview; }
    MOD+MouseMiddle { toggle-overview; }
    MOD+T { toggle-window-floating; }
    // MOD+W { toggle-column-tabbed-display; }
    MOD+W { spawn-sh "qs -c noctalia-shell ipc call wallpaper toggle"; }

    // ─── Emergency Escape Key ───
    // Use this when a fullscreen app blocks your keybinds.
    // It disables any active keyboard shortcut inhibitor, restoring control.
    // to avoid being stuck inside
    MOD+Shift+Q allow-inhibiting=false { quit; }

    // ─── Screenshots ───
    CTRL+Shift+1                        { screenshot; }
    CTRL+Shift+2                        { screenshot-screen; }
    CTRL+Shift+3                        { screenshot-window; }

    // ─── About Monitor ───
    MOD+SHIFT+H { focus-monitor-left; }
    MOD+SHIFT+L { focus-monitor-right; }
    MOD+SHIFT+LEFT { move-column-to-monitor-left; }
    MOD+SHIFT+RIGHT { move-column-to-monitor-right; }
    // MOD+SHIFT+UP { focus-monitor-up; }
    // MOD+SHIFT+DOWN { focus-monitor-down; }
    // MOD+SHIFT+CTRL+UP { move-column-to-monitor-up; }
    // MOD+SHIFT+CTRL+DOWN { move-column-to-monitor-down; }
}


// ────────────── Layout Settings ──────────────
layout {
	gaps 10 // Gap between windows
	center-focused-column "never" // Don’t auto-center focused column
	empty-workspace-above-first
	// always-center-single-column

	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
	}
	focus-ring {
		width 3
		active-color "#6a9cee70"
		inactive-color "#505050"
	}
    // if use border style your opacity setting will be invalid
	/- border {
		width 3
		active-color "#f9f9f9"
		inactive-color "#505050"
	}
	shadow {
		softness 30
		spread 5
		offset x=0 y=5
		color "#0007"
	}
	struts {}
}


// ────────────── Animation Settings ──────────────
animations {
	workspace-switch {
		spring damping-ratio=0.8 stiffness=600 epsilon=0.0001
	}
	window-open {
		duration-ms 200
		curve "ease-out-quad"
	}
	window-close {
		duration-ms 200
		curve "ease-out-cubic"
	}
	horizontal-view-movement {
		spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
	}
	window-movement {
		spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
	}
	window-resize {
		spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
	}
	config-notification-open-close {
		spring damping-ratio=0.6 stiffness=1200 epsilon=0.001
	}
	screenshot-ui-open {
		duration-ms 300
		curve "ease-out-quad"
	}
	overview-open-close {
		spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
	}
}


// ────────────── Window Rules ──────────────
    /- window-rule {
        match app-id=r#"firefox$"# title="^画中画$"
        open-floating true // Always float Firefox PiP windows
    }
    window-rule {
        geometry-corner-radius 15 // Set every window radius to 15
        clip-to-geometry true
    }
    window-rule {
        match app-id="code"
	match app-id="antigravity"
        opacity 0.85
    }
    window-rule {
        match app-id="QQ"
        match app-id="main" title="添加"
        match app-id="aggressor-Aggressor" title="Preferences"
        match app-id="wps" title="wps"
        match app-id="AdaptixClient" title="Connect"
        match app-id="wechat"
	match title="微信"
	match title="Official Accounts"
	// match app-id="satty"
	// match app-id="flameshot"
	match app-id="Biu"
	match app-id="Zotero" title="Zotero 设置"
        // match app-id="featherpad"
	match app-id="com.hex_rays.IDA.pro._9_3" title="About"
	match app-id="jetbrains-pycharm" title="设置"
	// match app-id="burp-StartBurp" title="Intruder.*"
	match app-id="wemeetapp" title="请选择.*"
	match app-id="VirtualBox" title="首选项|设置$"
	match app-id="zen" title="^需要输入|我的足迹"
	match app-id="xdg-desktop-portal-gtk" title="^打开|^选择|Save File"
	match app-id="dev.noctalia.noctalia-qs" title="Noctalia"
	match app-id="showmethekey-gtk"
	match app-id="qalculate-gtk"
	match app-id="Java"
	match app-id="org.wireshark.Wireshark" title=".*Value.*"
	match app-id="baidunetdisk"
	match app-id="AntSword"
    match app-id="wpp" title="wpp"
    match app-id="btrfs-assistant"
	// default-column-width { fixed 480; }
	// default-window-height { fixed 270; }
        open-floating true
    }

// disable nvidia gpu, use vfio to control nvidia gpu
/- debug {
    ignore-drm-device "/dev/dri/by-path/pci-0000:01:00.0-card"
    ignore-drm-device "/dev/dri/by-path/pci-0000:01:00.0-render"
}
