// ────────────── Input & Output Configuration ──────────────
gestures {
    hot-corners {
        off
    }
}
input {
    keyboard {
        xkb {
            layout us
        }
    }
    touchpad {
        // off
        tap
        scroll-method two-finger
        natural-scroll
        dwt
 // disabled-on-external-mouse
    }
    mouse {
        scroll-factor 2
    }
    focus-follows-mouse
    workspace-auto-back-and-forth
}
output eDP-2 {
    mode "2560x1600@240.000"
    scale 1.5
}
output HDMI-A-1 {
    position x=1707 y=0
}
 // disable nvidia gpu, use vfio to control nvidia gpu
/- debug {
    ignore-drm-device "/dev/dri/by-path/pci-0000:01:00.0-card"
    ignore-drm-device "/dev/dri/by-path/pci-0000:01:00.0-render"
}

